img{
    width: 100%;
    display: block;
}
.not-found{
    background-color: #7DCDC4;
    background-image: url('/src/assets/notFound.jpg');
    width: 100%;
    background-size:contain;
    background-position: center;
}