.about{
    background-color: #1ABC9C;
}

.about__description-text{
    width: 40%;
}

@media (max-width: 768px) {
    .about__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about__description-text{
        width: 90%;
        text-align: center;
    }
}